@import "../../variables.scss";

.container {
  all: unset;
  cursor: pointer;
  text-transform: uppercase;

  &:is([type="submit"]) {
    background: $primary-color;
    color: rgb(255, 255, 255);
    border-radius: 24px;
    box-shadow: rgb(0 0 0 / 8%) -4px 4px 4px;
    font-weight: 500;
    padding: 1em 2em;
  }

  &:is([type="reset"]) {
    color: $primary-color;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
