@import "../../variables.scss";

.container {
  display: flex;
  width: 100%;
  max-width: $infoMaxWidth;
  max-height: 100vh;
  flex-direction: column;
  position: absolute;
  background-color: white;
  padding: 1.5em;
  box-shadow: rgb(0 0 0 / 16%) -4px 4px 16px;
  z-index: 1000;

  top: 0;
  left: 0;
  bottom: 0;

  h1 {
    margin: 0 0 0.5em;
    color: #333;
    @media (min-width: 768px) {
      margin-bottom: 1em;
      margin-top: 0.5em;
    }
  }
}

.locationInfoContainer {
  @media (min-width: 768px) {
    overflow-y: auto;
    margin: 0 -1.5em -1em;
    padding: 0 1.5em 1em;
  }

  @media (max-width: 767px) {
    display: flex;
    overflow-x: auto;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: unset;
    top: unset;
    left: 0;
    bottom: 0;

    p {
      margin: 0;
    }
  }
}

.closeIcon {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  font-size: 1.8em;
  color: #333;
}

.locationInfo {
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    width: 100%;
    min-width: 60vw;
    border-bottom: 6px solid;

    &:not(:last-child) {
      margin-right: 2em;
    }
  }

  @media (min-width: 768px) {
    padding-left: 0.7em;
    margin-bottom: 2em;
    border-left: 6px solid;
  }

  div {
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;

    & span:last-child {
      text-align: right;
    }

    @media (min-width: 768px) {
      margin-bottom: 0.7em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
