@import "../../variables.scss";

.container {
  cursor: pointer;
  background-color: white;
  padding: 0.5em;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 16%) -4px 4px 16px;
}

.active {
  background-color: $primary-color;
  color: white;
  z-index: 500;
}
