@import "../../variables.scss";

.container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;

  z-index: 999;

  .row {
    width: 100%;
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    @media (min-width: 768px) {
      gap: 2em;
      justify-content: flex-end;
      width: auto;
    }
  }
}

.open {
  @media (max-width: 767px) {
    background-color: white;
    box-shadow: rgb(0 0 0 / 16%) -4px 4px 16px;
  }
}

.shrinkContainer {
  @media (min-width: 768px) {
    margin-left: $infoMaxWidth;
  }
}

.closed {
  background-color: white;
  box-shadow: rgb(0 0 0 / 16%) -4px 4px 16px;
}

.formElement {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border-radius: 4px;

  @media (min-width: 768px) {
    background-color: white;
    box-shadow: rgb(0 0 0 / 16%) -4px 4px 16px;
  }

  & label {
    font-size: 0.9em;
    color: $primary-color;
    margin-bottom: 0.5em;
    font-weight: 500;
  }

  select,
  input {
    cursor: pointer;
    padding: 0.5em 0.5em 0.5em 1em;
  }
  input[type="checkbox"] {
    height: 2em;
    width: 2em;
  }
}

.formButtons {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.toggleFilters {
  display: flex;
  margin: auto;
  flex: 1;
  justify-content: flex-end;
}

.row {
  flex-direction: row;
}
